@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.title {
  font-family: 'Plus Jakarta Sans', monospace;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
